:root {
  --color-text: #212121;
  --color-fon: #E5E5E5;
  --color-fon-two:#F5F4FA;
  --color-acsent: #2196f3;
  --color-buttom: #757575;
  --color-icon:#AFB1B8;
}
body {
  background-color: var(--color-fon);
  color: var(--color-text);
  font-family: Roboto, sans-serif;
  text-decoration: none;
  margin: 0;
 }
.list {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
 .container {
width: 1200px;
margin-left: auto;
margin-right: auto;
padding-left: 15px; 
padding-right: 15px; 
 }
 .header {
  margin-top: 0;
  margin-bottom: 0;
 }
 .hat {
   border-bottom: 1px solid #FFFFFF;
 }
 

/* Стилизация хедер*/
.logo {
font-family: Raleway, sans-serif;
font-weight: 700;
line-height: 1.2;
font-size: 26px;
color: var(--color-text);
text-decoration: none;
letter-spacing: 0.03em;

margin-right: 93px;
padding-top: 24px;
padding-bottom: 25px;
}
.logo-web {
  font-family: Raleway, sans-serif;
  color: var(--color-acsent);
  }
  .site-nav {
    font-weight:500;
    line-height:1.14;
    font-size:14px;
    text-decoration: none; 
    letter-spacing: 0.02em;
   }
   .tel-adr {
    margin-left: auto;
    font-family: Roboto, sans-serif;
    color: var(--color-buttom);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    }
   .menu {
     display: flex; 
    }

    .main-nav {
      display: flex;
      align-items: center;  
            
      }
             
      
    .menu-text{
      margin-right: 50px;
    }
    .menu-text:nth-child(3){
      margin-right: 0;
    }

  .link:hover,
  .link:focus {
   color: var(--color-acsent);
    }

  .link {
  color: var(--color-text);
  text-decoration: none;
 
}
 
  .current:first-child {
  color: var(--color-acsent);
  text-decoration: none;
  }

  .adress.curent {
    
    margin-right: 50px;
  
  }
  .tel-adr .tel-header {
    margin-right: 0;
  }
  .tel-adr {
   margin-left: auto;
  }
  .tel-adr-icon {
    fill: var(--color-icon);
    margin-right: 10px;
  }
  .tel-adr-contact:hover .tel-adr-icon {
    fill:var(--color-acsent)
  }
 
/* Стилизация кнопок на главной странице и портфолио */
.button {
  display: inline-block;
  font-family: Roboto, sans-serif;
  color: var(--color-text);
  background-color: #f5f4fa;
  font-weight: 500;
  line-height: 1.625;
  font-size: 16px;
  cursor: pointer;
  letter-spacing: 0.03em;
  border-radius: 4px;
  text-align: center;
  border: 1px solid transparent;
 }
.butbuner {
 display: inline-block;
 font-family: Roboto, sans-serif;
 font-weight: 700; 
 line-height: 1.88;
 letter-spacing: 0.06em;
 padding:10px 32px;
 min-width: 200px;
 height: 50px;
 text-align: center;
 margin-top: 30px;
 }

.button:hover, 
.buttom:focus { 
color: #ffffff; 
background-color: var(--color-acsent); 
} 
.button.primary {
  background-color: var(--color-acsent);
  color: #ffffff;
  }
.button.secondery {
  background-color: #f5f4fa;
  color: var(--color-text);
  
}

/* стилизация блока с заказом услуги */
.baner {
  font-weight: 900;
  line-height:1.40;
  font-size:44px;  
  color: #ffffff;
  letter-spacing: 0.06em;

  max-width: 696px;
  margin: auto;
  }
   .hero {  
    max-width: 1600px; 
    height: 600px;
    background: #C4C4C4; 
    background-image:
    linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/fonhero.jpg'); 
 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
 
   padding-bottom: 280px;
   padding-top: 200px;
   margin-left: auto;
   margin-right: auto;
   align-items: center;
   text-align: center;
   }

/* стилизация особенностей студии */

.fishka-icon {
  display:flex;  
}

.fon-icon { 
  background:var(--color-fon-two);
  border-radius: 4px;  
  
  margin-bottom: 30px;
  margin-right: 30px;
  padding:25px 100px;
  }
  
  .fon-icon:nth-child(4) {
    margin-right: 0;
  }  

.fishka {
  padding-top: 94px;
}
.studio {
font-size:  0;
}
 .fishka-text { 
  display: flex; 
  } 

.studio-titel {
  line-height:1.14;
  font-size:14px;
  font-family: Roboto, sans-serif;
  font-weight:700;
  letter-spacing: 0.03em;

  display: flex; 
  }
 
.studio-text {
  color: var(--color-buttom);
  font-weight:400;
  line-height:1.70;
  font-size:14px;
  letter-spacing: 0.03em;

  width: 270px;
  height: 75px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
}
.fishka-content
{
  margin-right: 30px; 
}
.fishka-content:nth-child(4)
{
  margin-right: 0; 
}
 
/* стилизация чем мы занимаемся */
.secshion-work {
  padding-top: 94px;
  padding-bottom: 94px;
}
.work-studio {
    font-size:36px;
    font-weight:700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
    }
 .secshion-work .work-foto {
  display: flex;
   }
.work-img {
  width:370px;
  height:294px;
  margin: 0;
   }

.work-studio-link {
  margin-left: 30px;
 }
.work-studio-link:nth-child(1) {
  margin-left: 0;
  }
/* стилизация раздела команда */
.comanda-about {
  padding-bottom: 94px;
  padding-top: 94px;
  background-color: var(--color-fon-two);
}

.comanda {
  font-size:36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  
  text-align: center;
  margin-bottom: 50px;
}

.secshion-comander {
  display:flex;
 
  }

  .blok-comanda {
  margin-right: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

  }
  .blok-comanda:nth-child(4) {
    margin-right: 0;
  }
.comanda-text {
  padding-top: 30px;
  padding-bottom: 30px;
}
.comanda-fio {

font-weight: 500; 
line-height: 1.20;
font-size:16px;
letter-spacing: 0.03em;
text-align: center;
margin-top: 0;
margin-bottom: 0;
padding-bottom: 10px;
}

.profeshion {
  color: var(--color-buttom);
  font-weight: 400;
  line-height:1.20;
  font-size:16px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 16px;
  }
  .comanda-icon {
    display:flex;
    fill: var(--color-icon);
    margin-left: 32px;
    background-position: 22px 22px;
    }
    
   .comanda-icon-link:hover,
   .comanda-icon-link:focus {
    fill:#FFFFFF;
    border-radius:  50%;
    background-color:var(--color-acsent);
   }
   .comanda-icon-link {
    width: 44px;
    height: 44px;
    padding: 12px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
               
  }
  .comanda-icon-link:nth-child(4) {
    margin-right: 0;
  }
 
  /* стилизация раздела постоянные клиенты */
  .clients-about {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #e5e5e5;
  }
  .clients {
  font-size:36px;
  font-weight:700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
  }
  .clients-icon {
    display: flex;  
    fill:var(--color-icon);
    
   
  }
  .clients-icon-link {
    border: 1px solid var(--color-icon);
    border-radius: 4px;
    padding:16px 32px;
    margin-right: 30px;
    cursor: pointer;
  }
  .clients-icon-link:nth-child(6) {
    margin-right: 0;
  }
  .clients-icon-link:focus,
  .clients-icon-link:hover
  {
fill: var(--color-acsent);
border: 1px solid var(--color-acsent)
  }
/* стилизация  футер */
.footer {
  background-color:#2F303A;
  height: 252px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  }
  .logo-web-bottom {
    display:inline-block;
    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.2;
    font-size: 26px;
    color:#FFFFFF;
    text-decoration: none;
    align-items: center;

    margin-bottom: 20px;
    }
    .adress {
      color: var(--color-buttom);
      font-weight:500;
      line-height:1.14;
      font-size:14px;
      font-style: normal;
      text-decoration: none;
      letter-spacing: 0.02em;
      }
    .adress:hover,
    .adress:focus {
      color: var(--color-acsent);
    }
    .adress-footer {
      display:flex;
      flex-direction:column;
    } 
    
    .adress-street {
      font-family: Roboto, sans-serif;
      font-weight:400;
      line-height:1.71;
      font-size:14px;
      letter-spacing: 0.03em;
      color: #ffffff;
      text-decoration: none;
      }
      
    .adress-contact {
      color: rgba(255, 255, 255, 0.6);
      text-decoration: none;
      font-family: Roboto, sans-serif;
      font-weight:400;
      line-height:1.71;
      font-size:14px;
      letter-spacing: 0.03em;

     padding-top: 9px;
     }

     .footer-text{
      display: flex;
     }
     .footer-text-icon {
       margin-left: 70px;

     }
     .footer-titel{
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      color: #FFFFFF;
      margin-bottom: 20px;
     }

     .footer-icon {
      display: flex;
      fill:#FFFFFF;
    
     }
     .footer-icon-link {
      width: 44px;
      height: 44px;
      margin-right: 10px;
      border-radius: 50%;
      padding: 12px;
      background-color: rgba(255, 255, 255, 0.1);
      cursor: pointer;
     }
     .footer-icon-link:nth-child(4) {
      margin-right: 0;
     }
     .footer-icon-link:hover {
      background-color: var(--color-acsent);
     }
     
    
    
/* стилизация раздела наши работы страница портфолио */
.works-portfolio {
font-size:  0;
margin: 0;
}
.portfolio-hero {
padding-top: 94px;
padding-bottom: 94px;
}
.butportfolio {
display:flex;
 
align-items: center;
justify-content: center;
margin-bottom: 50px;
 }
 .porbut {
padding: 6px 22px;
text-align: center;
 }
 .portfolio-buttom {
  margin-left: 8px;
 }
 .portfolio-buttom:nth-child(1) {
  margin-left: 0;
 }

.work-titly {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  line-height: 1.40;
  font-size: 18px;
  letter-spacing: 0.03em;
  padding-bottom: 4px;
    
  }
.works-types {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--color-buttom);
  font-weight: 400;
  line-height: 2;
  font-size: 16px;
  letter-spacing: 0.03em;  
}
.work-hero-text {
  padding: 20px 24px;
}
.work-hero-block {
  margin-bottom: 30px;
  cursor: pointer;
}
.work-hero-block:nth-child(7),
.work-hero-block:nth-child(8),
.work-hero-block:nth-child(9) {
margin-bottom: 0px;
}

.work-hero {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
  .portfolio-img {
  display: inline-block;
  width: 370px;
  height: 404px;
  border: 1px solid #EEEEEE;
 
  }  
  .portfolio-img:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  }
  